@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  font-size: 18px; 
  margin: 0;
  padding: 0;
}

a{
  color: inherit;
  font-size: inherit;
  font-weight: 400;
  text-decoration: none;
  transition: color .4s ease;

  &:hover{
    color: color("cyan");
  }
}

figure{
  display: inline-flex;
}

h1{
  color: color("white");
  font-size: 1.34rem;
  font-weight: 900;
  margin: 1rem 0;
  text-transform: capitalize;
}

p{
  font-weight: 400;
}